.account-main {
  opacity: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 83px;
  height: 157px;
}

.accout-heading {
  text-align: center;
  letter-spacing: NaNpx;
  color: #152d79;
  text-transform: capitalize;
  opacity: 1;
}

.act-h {
  text-align: center;
  font: normal normal 800 55px/63px Nunito Sans;
  letter-spacing: 0px;
  color: #152d79;
  text-transform: capitalize;
  background-color: #fcfcfc;
  position: relative;
}
.Group26 {
  position: absolute;
  top: 213px;
  height: 6.5px;
  display: flex;
}

.acount-form {
  height: 641px;
  background: #546cb6 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 100%;
  display: flex;
  margin-top: 36px;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.form-heading {
  display: grid;
  align-items: center;
  margin-right: 52px;
  margin-bottom: 83px;
}
.support-link {
  font: normal normal bold 31px/93px Nunito Sans;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  text-transform: lowercase;
  opacity: 1;
}

.frm-h {
  font: normal normal 800 50px/72px Nunito Sans;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
  opacity: 1;
}

.form-card {
  width: 566px;
  height: 469px;
  background: #fcfdff 0% 0% no-repeat padding-box;
  border-radius: 9px;
  opacity: 1;
}
.input-div {
  padding: 3px;
}

.input1 {
  width: 428px;
  height: 56px;

  margin-left: 71px;

  padding: 16px;
  margin-top: 56px;
  background: #f5f7ff 0% 0% no-repeat padding-box;
  border: 2px solid #a6bcf533;
  border-radius: 5px;
}

.input2 {
  width: 428px;
  height: 56px;

  margin-left: 71px;

  margin-top: 20px;
  background: #f5f7ff 0% 0% no-repeat padding-box;
  border: 2px solid #7195ed33;
  border-radius: 5px;
  opacity: 0.97;
  padding: 16px;
}
.input3 {
  width: 428px;
  height: 138px;

  margin-left: 71px;

  margin-top: 20px;
  background: #f5f7ff 0% 0% no-repeat padding-box;
  border: 2px solid #a6bcf533;
  border-radius: 5px;
  opacity: 0.97;
  padding: 16px;
}

.submit-btn {
  width: 147px;
  border: none;
  height: 52px;
  background: #ee8b3f 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #debea6;
  border-radius: 37px;
  opacity: 0.97;
  margin-left: 213px;
  margin-top: 20px;
}

.submit-btntext {
  text-align: center;
  font: normal normal 800 21px/32px Nunito Sans;
  letter-spacing: 0px;
  color: #fcfcfc;
  opacity: 1;
}
.accoutn-part2{
    opacity: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    background: #F5F7FF;
    height: 417px;
}

.img289-div {
    display: flex;
    align-items: center;
}

.img-text{
text-align: left;
letter-spacing: NaNpx;
color: #152D79;
text-transform: capitalize;
opacity: 1;
margin-left: 38px;
font: normal normal 800 45px/61px Nunito Sans;
}

.img-num{
    text-align: center;
    font: normal normal bold 30px/30px Nunito Sans;
    letter-spacing: 0px;
    color: #405EBF;
    text-transform: capitalize;
    opacity: 1;
}

.acordion-div{
    opacity: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 1000px;
    background: #F5F7FF;
    overflow: hidden;
}
.acordion{
    width: 965px;
height: 75px;
border-radius: 5px;
opacity: 1;
}
.acd-text{
    width: 39%;
    text-align: center;
    letter-spacing: NaNpx;
    color: #152D79;
    font-size: 42px;
    background: #f5f5f5;
    opacity: 1;
    margin-top: 68px;
    margin-bottom: 49px;
}

.acd-head{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F7FF;
}
.acordion-para{
    text-align: left;
    font: normal normal bold 19px/29px Nunito Sans;
    letter-spacing: 0px;
    color: #152D79;
    opacity: 1;
}
.acordion-p{
    text-align: left;
    font: normal normal 520 19px/30px Nunito Sans;
    letter-spacing: 0px;
    color: #152D79;
    opacity: 1;
}


@media only screen and (max-width: 480px) {

    .act-h {
        text-align: center;
        font: normal normal 800 19px/25px Nunito Sans !important;
        letter-spacing: 0px;
        color: #152d79;
        text-transform: capitalize;
        background-color: #fcfcfc;
        position: relative;
    }
    .Group26 {
        display: none;
    }
    .frm-h {
        font: normal normal 800 22px/25px Nunito Sans !important;
        text-align: center;
        color: #ffffff;
        text-transform: capitalize;
        opacity: 1;
        margin-top: 34px;
        text-align: center;
        margin-left: 59px;
    }
    .acount-form {
        height: 643px;
        background: #546cb6 0% 0% no-repeat padding-box;
        opacity: 1;
        width: 100%;
        display: flex;
        margin-top: 36px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        opacity: 1;
    }
    .support-link {
        font: normal normal bold 20px/75px Nunito Sans;
        letter-spacing: 0px;
        text-align: center;
        color: #ffffff;
        text-transform: lowercase;
        opacity: 1;
        margin-left: 59px;
    }
    .form-card {
        width: 334px !important;
        height: 390px !important;
        background: #fcfdff 0% 0% no-repeat padding-box;
        border-radius: 9px;
        opacity: 1;
    }
    .input1 {
        width: 208px;
        /* height: 56px; */
        margin-left: 60px !important;
        padding: 15px !important;
        margin-top: 39px !important;
        background: #f5f7ff 0% 0% no-repeat padding-box;
        border: 2px solid #a6bcf533;
        border-radius: 5px;
    }
    .input2 {
        width: 208px;
        /* height: 56px; */
        margin-left: 60px !important;
        padding: 15px !important;
        margin-top: 12px !important;
        background: #f5f7ff 0% 0% no-repeat padding-box;
        border: 2px solid #a6bcf533;
        border-radius: 5px;
    }
    .input3 {
        width: 208px;
        /* height: 56px; */
        margin-left: 60px !important;
        padding: 15px !important;
        margin-top: 12px !important;
        background: #f5f7ff 0% 0% no-repeat padding-box;
        border: 2px solid #a6bcf533;
        border-radius: 5px;
    }
    .submit-btn {
        width: 147px;
        border: none;
        height: 52px;
        background: #ee8b3f 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #debea6;
        border-radius: 37px;
        opacity: 0.97;
        margin-left: 92px;
        margin-top: 6px;
    }
    .Group289{
        margin-top: 52px;
        width: 255px;
    }
    .img289-div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .img-text {
        text-align: left;
        letter-spacing: NaNpx;
        color: #152D79;
        text-transform: capitalize;
        opacity: 1;
        margin-top: 49px;
        /* margin-left: 30px; */
        text-align: center;
        font: normal normal 800 18px/31px Nunito Sans;
    }
    .acd-text {
        width: 41%;
        text-align: center;
        letter-spacing: NaNpx;
        color: #152D79;
        font-size: 23px;
        background: #f5f5f5;
        opacity: 1;
        margin-top: 68px;
        margin-bottom: 49px;
    }
    .acordion {
        width: 361px !important;
        height: 72px !important;
        border-radius: 5px;
        opacity: 1;
    }
 }
